<!-- Footer Section -->
<footer id="footer">
    <p>&copy; 2025 WebOG. All Rights Reserved.</p>
    <div id="footerLinks">
        <a href="https://www.webog.com" target="_blank">Home</a> |
        <a href="https://www.webog.com/about" target="_blank">About</a> |
        <a href="https://www.webog.com/privacy" target="_blank">Privacy Policy</a> |
        <a href="https://www.webog.com/terms" target="_blank">Terms of Service</a>
    </div>
    <div id="socialLinks">
        <p>Follow Us:</p>
        <a href="https://www.twitter.com/webog" target="_blank">Twitter</a> |
        <a href="https://www.facebook.com/webog" target="_blank">Facebook</a> |
        <a href="https://www.instagram.com/webog" target="_blank">Instagram</a>
    </div>
    <div id="retroMessage">
        <p>Remember when the internet was simple? Welcome to WebOG!</p>
    </div>
</footer>

